<h1>Chats#index</h1>

<div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-content" style="background-color: white;">
        <% @event.chats.each do |chat| %>
            <% if chat.persisted? %>
                <p><%= chat.content %>(from: <%= chat.sender.name %>)</p>
            <% end %>
        <% end %>

        <%=form_with model: @chat, url: user_event_chats_path(current_user, @event), method: :post do |f| %>
            <%= f.text_field :content %>
            <%= f.submit :send %>
        <% end %>
        <button class="modal-close is-large" aria-label="close" onclick="document.getElementById('modal').classList.remove('is-active')"></button>
    </div>
</div>

<p><%= link_to 'Open Chat Modal', 'javascript:void(0)', onclick: "document.getElementById('modal').classList.add('is-active')", class: "button is-info" %></p>
<p><%= link_to 'Close Chat', user_events_path(current_user), class: "button is-primary" %></p>