<h1>My Plans</h1>
<p>Find me in app/views/admin/users/show.html.erb</p>
<p><strong>name: </strong><%= @user.name %></p>
<p><strong>short_introduction: </strong><%= @user.short_introduction %></p>
<p><strong>introduction: </strong><%= @user.introduction %></p>
<ul class="users_plan">
    <% @user.plans.each do |plan| %>
        <li>
            <%= link_to plan.plan_name, admin_user_plan_path(@user, plan) %> | 
            <%= link_to '削除', admin_user_plan_path(@user, plan), method: :delete, scope: :plan, data: { confirm: 'Are you sure?' } %>
        </li>
    <% end %>
    <%= link_to 'create new plan', new_admin_user_plan_path(@user) %>
</ul>