<!DOCTYPE html>
<html>
  <head>
    <title>ReserverChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to '一覧', root_path %>
    <% if user_signed_in? %>
      <p><%= link_to "#{current_user.name} MY PLANS", admin_user_path(current_user) %></p>
      <p><%= link_to 'My Reserved Events', admin_user_events_path(current_user) %></p>
      <p><%= link_to 'My Applied Reservations', user_events_path(current_user) %></p>
      <p class="logout"><%= link_to 'log out', logout_path, method: :delete %></p>
    <% else %>
      <p class="signin"><%= link_to 'sign in', signin_path %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
